<template>
    <details>
        <summary :open="props.open">
            <slot name="summary" />
        </summary>
        <p>
            <slot name="content" />
        </p>
    </details>
</template>

<script setup lang="ts">
const props = defineProps<{ open: boolean }>()

</script>