<template>
    <section>
        <AccordionsItem
            :open="false"
            v-for="(activity, i) in activities"
            :class="'activity-' + i"
            :key="activity.summary"
        >
            <template #summary>
                <span>{{ activity.summary }}</span>
            </template>
            <template #content>
                <div class="grid">
                    <p v-for="form in activity.forms" :key="form.link">
                        <iframe
                            :src="form.link"
                            width="100%"
                            height="500"
                            frameborder="0"
                            marginheight="0"
                            marginwidth="0"
                            :title="form.title"
                        ></iframe>
                    </p>
                </div>
            </template>
        </AccordionsItem>
    </section>
</template>

<script setup lang="ts">
import { Activity } from './../../types/accordions';
import AccordionsItem from './AccordionsItem.vue'

const activities: Activity[] = [
    {
        summary: "Atelier d'éducation à la sexualité pour adultes avec Mireille Baumgartner",
        content: '',
        forms: [
            {
                link: "https://tally.so/embed/nGPdzm?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier AESA (14h30 - 15h30)"
            },
            {
                link: "https://tally.so/embed/mV60lm?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier AESA (16h - 17h)"
            }
        ]
    },
    {
        summary: "Construire un projet en éducation à la sexualité avec Anne Sophie Saus",
        content: '',
        forms: [
            {
                link: "https://tally.so/embed/w4b8om?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier CPÉS (14h30 - 15h30)"
            },
            {
                link: "https://tally.so/embed/3xWp9m?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier CPÉS (16h - 17h)"
            }
        ]
    },
    {
        summary: "Les réseaux sociaux, un outil en éducation à la sexualité avec Sandrine Carême",
        content: '',
        forms: [
            {
                link: "https://tally.so/embed/nrZ6Ln?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier RSOÉS (14h30 - 15h30)"
            },
            {
                link: "https://tally.so/embed/w26ebw?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier RSOÉS (16h - 17h)"
            }
        ]
    },
    {
        summary: "Atelier de modelage des organes génitaux avec Camille Cazenave",
        content: '',
        forms: [
            {
                link: "https://tally.so/embed/3EOXLn?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier AMOG (14h30 - 15h30)"
            },
            {
                link: "https://tally.so/embed/nGPzzm?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier AMOG (16h - 17h)"
            }
        ]
    },
    {
        summary: "La danse en éducation à la sexualité avec Isabelle Jacquemoud",
        content: '',
        forms: [
            {
                link: "https://tally.so/embed/nPq60m?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier DÉS (14h30 - 15h30)"
            },
            {
                link: "https://tally.so/embed/mONzAn?alignLeft=1&transparentBackground=1",
                title: "Inscription atelier DÉS (16h - 17h)"
            }
        ]
    }
]
</script>

<style>
.activity-0 span,
.activity-3 span {
    color: #086cb7;
}

.activity-2 span {
    color: #afa820;
}

.activity-1 span,
.activity-4 span {
    color: #eb6566;
}

@media all and (max-width: 600px) {
    .activity-2 span {
        color: #cfc607;
    }
}
</style>