<template>
    <main>
        <section>
            <article>
                <p>Bienvenue sur le site de l’évaluation de la Journée Annuelle du CIFRES.</p>
                <p>
                    Nous vous remercions de prendre quelques minutes pour nous faire part de
                    vos commentaires afin de nous permettre d’affiner notre travail pour l’année prochaine !
                </p>
            </article>
        </section>
        <section>
            <iframe
                :src="form.link"
                width="100%"
                height="1200"
                frameborder="0"
                marginheight="0"
                marginwidth="0"
                :title="form.title"
            ></iframe>
        </section>
    </main>
</template>
<script setup lang="ts">

const form = {
    title: 'Évaluation de cette journée annuelle',
    link: 'https://tally.so/embed/mJQQ4n?hideTitle=1&transparentBackground=1'
}

</script>