<template>
    <main>
        <section>
            <article class="presentation">
                <p>
                    Bienvenue sur le site d'inscription aux ateliers proposés pour
                    l'après-midi de la Journée Annuelle du CIFRES.
                </p>
                <p>
                    En cliquant sur le nom de l'atelier, les deux horaires
                    apparaîtront et vous pourrez vous inscrire en notant votre nom
                    et votre prénom.
                </p>
                <p>
                    Si le créneau n'apparaît plus, c'est que l'atelier est complet.
                    Essayez alors sur l'autre créneau !
                </p>
                <p>Merci beaucoup pour votre participation</p>
            </article>
            <section>
                <Accordions />
            </section>
        </section>
    </main>
</template>

<script setup lang="ts">
import Accordions from "./../components/Accordions/Accordions.vue";
</script>