<template>
    <footer class="grid">
        <p>
            <img src="../../assets/agplv3.png" alt="Logo de l’AGPL+3" />
            Ce projet est placé sous licence libre
            <a
                href="https://www.gnu.org/licenses/agpl-3.0.html"
                title="Lien vers la licence AGPL+3"
                target="_blank"
            >AGPL+3</a>
        </p>
        <p>
            <a href="https://gitlab.com/Damax/cifres-day" target="_blank">Code source</a>
        </p>
        <p>
            <router-link v-if="route.name !== 'eval'" :to="{ name: 'eval' }">Page d’évaluation</router-link>
            <router-link v-else :to="{ name: 'home' }">Accueil</router-link>
        </p>
    </footer>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router'

const route = useRoute()
</script>

<style scoped>
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background-color);
    padding: 2rem;
    margin: 0px;
}

.grid p {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .grid {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }
}
</style>