<template>
    <header class="main-header">
        <h1>Journée Annuelle du CIFRES</h1>
        <img src="/src/assets/logo_CIFRES.png" class="logo" alt="Logo du CIFRES" />
    </header>
</template>

<style scoped>
.main-header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.main-header img {
    height: 200px;
}

@media all and (max-width: 600px) {
    .main-header {
        flex-direction: column-reverse;
    }
}
</style>