<template>
  <Header />
  <div class="main">
    <router-view></router-view>
  </div>
  <Footer />
</template>

<script setup lang="ts">
import Header from './components/Partials/Header.vue'
import Footer from './components/Partials/Footer.vue'
</script>

<style>
:root {
  --primary: #086cb7;
}

h1 {
  color: var(--primary);
}

.presentation {
  margin-bottom: 4rem;
}

body {
  width: auto;
  margin: 0px;
  padding: 0px;
}

.main {
  margin: 1rem;
}
</style>
